<div class="resource">
  <h2>House {{ id }}</h2>

  <p><label><b>Name: {{ house.name }}</b></label></p>
  <p><label><b>Region: </b></label>{{ house.region }}</p>
  <p><label><b>Coat Of Arms: </b></label>{{ house.coatOfArms }}</p>
  <p><label><b>Words: </b></label>{{ house.words }}</p>
  <p><label><b>Titles: </b></label>{{ house.titles }}</p>
  <p><label><b>Seats: </b></label>{{ house.seats }}</p>
  <p><label><b>Current Lord: </b></label>
    <a *ngIf="house.currentLordDetail" [routerLink]="['../../characters', house.currentLordDetail?.id]">{{ house.currentLordDetail.name }}</a>
  </p>
  <p><label><b>Heir: </b></label>
    <a *ngIf="house.heirDetail" [routerLink]="['../../characters', house.heirDetail?.id]">{{ house.heirDetail.name }}</a>
  </p>
  <p><label><b>Overlord: </b></label>
    <a *ngIf="house.overlordDetail" [routerLink]="['../', house.overlordDetail?.id]">{{ house.overlordDetail.name }}</a>
  </p>
  <p><label><b>Founded: </b></label>{{ house.founded }}</p>
  <p><label><b>Founder: </b></label>
    <a *ngIf="house.founderDetail" [routerLink]="['../../characters', house.founderDetail?.id]">{{ house.founderDetail.name }}</a>
  </p>
  <p><label><b>Died Out: </b></label>{{ house.diedOut }}</p>
  <p><label><b>Ancestral Weapons: </b></label>{{ house.ancestralWeapons?.toString() }}</p>

  <app-footer-buttons></app-footer-buttons>
</div>>
