<div class="resource">
  <h2>Volume {{ volume }}</h2>

  <p><label><b>Name: </b></label> {{ book.name }}</p>
  <p><label><b>IS Book No.: </b></label>{{ book.isbn }}</p>
  <p><label><b>Authors: </b></label>{{ book.authors?.toString() }}</p>
  <p><label><b>Number Of Pages: </b></label>{{ book.numberOfPages }}</p>
  <p><label><b>Publisher: </b></label>{{ book.publisher }}</p>
  <p><label><b>Country: </b></label>{{ book.country }}</p>
  <p><label><b>Media Type: </b></label>{{ book.mediaType }}</p>
  <p><label><b>Released Date: </b></label>{{ book.released | date }}</p>

  <button class="btn btn-default" type="button" (click)="back()">Back</button>
</div>>
