.content {
  background: #fefefe ;
  margin: auto;
  margin-top: 9%;
  border: 1px solid #888;
  width: 30%;
}


.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.required {
  color: red;
}

.alert-error {
  color: red;
  margin: 5px 0px;
}

