
<div class="overview">
  <h2>Resources</h2>
  <div class="list-card">
    <div class="card" (click)="navigateTo('/books')">
      <img src="../../assets/images/books.jpeg" alt="Books">
      <div class="container">
        <h2><b>Books</b></h2>
      </div>
    </div>
    <div class="card" (click)="navigateTo('/characters')">
      <img src="../../assets/images/characters.jpg" alt="Characters">
      <div class="container">
        <h2><b>Characters</b></h2>
      </div>
    </div>
    <div class="card" (click)="navigateTo('/houses')">
      <img src="../../assets/images/houses.jpg" alt="Houses">
      <div class="container">
        <h2><b>Houses</b></h2>
      </div>
    </div>
  </div>

</div>
