
<div class="overview">
  <h2>Resources</h2>
  <div class="list-card">
    <div class="card">
      <img src="img_avatar.png" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Houses</b></h4> 
        <p>Architect & Engineer</p> 
      </div>
    </div>
    <div class="card">
      <img src="img_avatar.png" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Characters</b></h4> 
        <p>Architect & Engineer</p> 
      </div>
    </div>
    <div class="card">
      <img src="img_avatar.png" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Books</b></h4> 
        <p>Architect & Engineer</p> 
      </div>
    </div>
  </div>

</div>