<div class="resource">
  <h2>Books</h2>
  <app-search-bar
    [searchCriteria] = "searchCriteria"
    (searchOutput) = "search($event)"
    (getAll) = "showAll()">
  </app-search-bar>
  <form [formGroup]="filterForm">
    <div class="filter">
        <div class="filter-item">
          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" formControlName="name">
        </div>
        <div class="filter-item">
          <label for="fromDate"><b>From Date</b></label>
          <input type="date" formControlName="fromDate">
        </div>
        <div class="filter-item">
          <label for="toDate"><b>To Date</b></label>
          <input type="date" formControlName="toDate">
        </div>
      <div class="filter-item">
        <button class="btn btn-default" type="button" (click)="filterForm.reset()">Reset Filter</button>
      </div>
    </div>
  </form>
  <br>

  <button [style.visibility]="pagination.currentPage > 1 ? 'visible' : 'hidden'" 
    class="btn btn-default" 
    type="button" 
    (click)="previous()">Previous</button>
  <button [style.visibility]="(filteredBook$ | async)?.length === pagination.pageSize ? 'visible' : 'hidden'" 
    class="btn btn-default" 
    type="button" 
    (click)="next()">Next</button>
  <table>
    <tr>
      <th *ngFor="let header of headers">{{ header }}</th>
    </tr>
    <tr *ngFor="let book of filteredBook$ | async">
      <td><a [routerLink]="book.volume"> Vol. {{ book.volume }}</a></td>
      <td>{{ book.name }}</td>
      <td>{{ book.authors.toString() }}</td>
      <td>{{ book.released | date }}</td>
    </tr>
  </table>
  <div *ngIf="(filteredBook$ | async)?.length === 0" class="no-data">No Data Available</div>

  <app-footer-buttons></app-footer-buttons>
</div>
